a:link {color:#cecece;}      /* unvisited link */
a:visited {color:#8e8e8e;}  /* visited link */
a:hover {color:#DeDeDe;}  /* mouse over link */
a:active {color:#FFFFFF;}  /* selected link */ 

p{
	margin:  20px 0 20px 235px;
	width:596px;
	font-family:Helvetica, sans-serif;
	color:#cecece;
	font-size:12px;
	text-align:justify;
}

h1{	
	margin: 0 0 0 235px;
	left:235px;
	top:0px;
	width:451px;
	font-family:Helvetica, sans-serif;
	color:#cecece;
	font-size:25px;	
}

h2{	
	margin: 0 0 0 240px;
	left:240px;
	top:0px;
	width:451px;
	font-family:Helvetica, sans-serif;
	color:#cecece;
	font-size:15px;	
}

li{
	margin: 0 0 0 250px;
	left:250px;
	top:00px;
	width:451px;
	font-family:Helvetica, sans-serif;
	color:#cecece;
	font-size:15px;	
}

#Tabla {
	position:relative;
	margin: 0 auto;
	top:0px;
	width:961px;
	height:100%;
	background-color:#303030;
}

#Cabecera {
	top: 0px;
	width:960px;
}

#Menu {
	position:absolute;
	left:235px;
	top:75px;
	width:642px;
	height:4px;
}

#Home{
	position:absolute;
	left:235px;
	top:79px;
	width:55px;
	height:32px;text-align:center;
	line-height: 32px;
	background:#272727;
}

#Home:hover{
	background: #5f5f5f;
}
#esquina_arriba {
	position:absolute;
	left:59px;
	top:82px;
	width:61px;
	height:61px;
}

#text{
	position: absolute;
	left: -150px;
	top: 85px;
	width: 330px;
	height: 50px;
	font-family:Helvetica, sans-serif;
	color: #cecece;
	font-size: 16px;
}

#esquina_abajo {
	position:absolute;
	left:383px;
	top:263px;
	width:62px;
	height:62px;
}

#imagen_inicio {
	position:absolute;
	left:550px;
	top:180px;
}

#Menu_text_selected{
	position:relative;
	font-family:Helvetica, sans-serif;
	color: #00bbf0;
	font-size: 16px;
	text-decoration: none;
	margin-top: auto; 
	margin-bottom:auto;
}

#Menu_text{
	position:relative;
	font-family:Helvetica, sans-serif;
	color: #cecece;
	font-size: 16px;
	text-decoration: none;
	margin-top: auto; 
	margin-bottom:auto;
}

#About{
	position:absolute;
	left:290px;
	top:79px;
	width:63px;
	height:32px;
	text-align:center;
	line-height: 32px;
	background:#272727;
}
#About:hover{
	background: #5f5f5f;
}

#Demos {
	position:absolute;
	left:353px;
	top:79px;
	width:63px;
	height:32px;
	text-align:center;
	line-height: 32px;
	background:#272727;
}
#Demos:hover{
	background: #5f5f5f;
}

#imagen_G {
	position:absolute;
	left:494px;
	top:231px;
	width:320px;
	height:320px;
}

#flecha_izquierda_G {
	position:absolute;
	left:379px;
	top:365px;
	width:42px;
	height:47px;
}

#flecha_derecha_G {
	position:absolute;
	left:882px;
	top:365px;
	width:41px;
	height:47px;
}

#Imagen1_P {
	position:absolute;
	left:327px;
	top:557px;
	width:40px;
	height:40px;
}

#Imagen2_P {
	position:absolute;
	left:408px;
	top:557px;
	width:40px;
	height:40px;
}

#Imagen3_P {
	position:absolute;
	left:489px;
	top:557px;
	width:79px;
	height:79px;
}

#Imagen4_P {
	position:absolute;
	left:570px;
	top:557px;
	width:80px;
	height:79px;
}

#Imagen5_P {
	position:absolute;
	left:652px;
	top:557px;
	width:80px;
	height:79px;
}

#Imagen6_P {
	position:absolute;
	left:734px;
	top:557px;
	width:79px;
	height:79px;
}

#Imagen7_P {
	position:absolute;
	left:815px;
	top:557px;
	width:80px;
	height:79px;
}

#Imagen8_P {
	position:absolute;
	left:896px;
	top:557px;
	width:79px;
	height:79px;
}

#flecha_izquierda_P {
	position:absolute;
	left:299px;
	top:576px;
	width:22px;
	height:44px;
}

#flecha_derecha_P {
	position:absolute;
	left:986px;
	top:577px;
	width:22px;
	height:43px;
}

.BigImg{
  position:relative;
  top:0px;
  width:100%;
}

.toolTipImg{
  position:relative;
  top:3px;
  width:95px;
}

.leftSmall{
	border:0px;	
	vertical-align: middle;
}

.rightSmall{
	border:0px;
	vertical-align: middle;
}

.leftBig{
	border:0px;
   vertical-align: middle;
}

.rightBig{
	border:0px;
	vertical-align: middle;
}

#cajonFlechaIzquierdaBig{
float:left;
padding-top:180px;
padding-right:3px;
}
#cajonFlechaDerechaBig{
float:left;
padding-top:180px;
padding-left:3px;
}

#cajonFlechaIzquierda{
float:left;
padding-top:30px;
padding-right:3px;
}
#cajonFlechaDerecha{
float:left;
padding-top:30px;
padding-left:3px;
}


#big{border:solid 0px #CCC;align:center;clear:both;width:800px;height:430px;position:relative;padding:5px;vertical-align:middle;}
#big2{position:relative;width:500px;height:auto;vertical-align:middle;margin:0 0 0 20px;}

#main_image_wrapper{float:centre;position:relative; width:400px; height:400px; background:#303030; align:center; margin-right:20px;vertical-align:middle;}
#gallerybox{border:solid 0px #CCC;text-align:center;clear:both;width:600px;height:400px;position:relative;top:0px;padding:5px;}
#gallery_container{float:left;position:relative;border:solid 0px #CCC;overflow:hidden;width:550px;height:400px;margin:0 30px 0 30px;}
#images img{margin-right:4px;margin-top:4px;vertical-align:top; width:95px;height:90px;}
#images a img{border:1px solid #FFF;}
#images a:hover img{border:1px solid #333;}


#gallery{position:absolute;left:0;top:0;white-space:nowrap;z-index:1000;}
#gallery2{position:absolute;left:0;top:100;white-space:nowrap;z-index:1000;}

.spacing{padding:5px;}

#Documentation {
	position:absolute;
	left:416px;
	top:79px;
	width:126px;
	height:32px;
	text-align:center;
	line-height: 32px;
	background:#272727;
}
#Documentation:hover{
	background: #5f5f5f;
}

#News {
	position:absolute;
	left:542px;
	top:79px;
	width:50px;
	height:32px;
	text-align:center;
	line-height: 32px;
	background:#272727;
}
#News:hover{
	background: #5f5f5f;
}

#Subrayado_titulo_cuerpo {
	position:absolute;
	left:236px;
	top:30px;
	width:451px;
}

#Texto_Cuerpo {
	position:absolute;
	left:235px;
	top:50px;
	width:596px;
	font-family:Helvetica, sans-serif;
	color:#cecece;
	font-size:12px;
}

#Contact {
	position:absolute;
	left:592px;
	top:79px;
	width:101px;
	height:32px;
	text-align:center;
	line-height: 32px;
	background:#272727;
}
#Contact:hover{
	background: #5f5f5f;
}

#Publications{
	position:absolute;
	left:693px;
	top:79px;
	width:103px;
	height:32px;
	text-align:center;
	line-height: 32px;
	background:#272727;
}
#Publications:hover{
	background: #5f5f5f;
}

#Proyects {
	position:absolute;
	left:796px;
	top:79px;
	width:81px;
	height:32px;
	text-align:center;
	line-height: 32px;
	background:#272727;
}
#Proyects:hover{
	background: #5f5f5f;
}

#Menu015 {
	position:absolute;
	left:235px;
	top:111px;
	width:642px;
	height:4px;
}

#cuerpo {
	position:relative;
	width:960px;
	height:620px
}

#Copyright{
border:solid 0px #000;
	text-align:center;
	background:#272727;
	padding-top:5px;
}

#copyright{
	padding-left:30px;
	padding-right:30px;
	font-family:Helvetica, sans-serif;
	color:#a0a5a8;
	font-size:11px;
	text-decoration: none;
}

#Footer {
	clear:both;
	position:relative;
	top:0px;
	width:961px;
}