.control-panel{
float:right;
width: 725px;
height: 750px;
border: 0.2px;
background-color:#555566;
padding:5px;
}
.control-transparency{
float:left;
height:300px;
width: 725px;
background-color:#aaaaaa;
border-width:0.5px;
border-style: solid;
border-color: #555566
}
.control-global{
float:left;
height:150px;
width: 725px;
background-color:#aaaaaa;
border-width:0.5px;
border-style: solid;
border-color: #555566
}
.control-color{
float:left;
height:295px;
width: 725px;
background-color:#aaaaaa;
margin-top: 0.5px;
border-width:0.5px;
border-style: solid;
border-color: #000000
}

.rgbText{
	width:50px;
	height:50px;
	margin-left:350
}
.body{
background-color: #FFFFFF
}
#colorCanvas{
		width: 520px;
		height: 5px;
		margin-left:5px;
		background-image: none;
		background-color: #aaaaaa;
		border: 0.2
	}
#eq span {
			height:120px; float:left; margin:10px
		}
		#canvas-control-panel{
		float:right;
		width: 625px;
		height: 800px;
		border: 0.2px;
		background-color:#555566;
		padding:5px;
		}
		#red, #green, #blue {
		float: left;
		clear: left;
		width: 300px;
		margin: 15px;
	}
	#swatch {
		width: 150px;
		height: 125px;
		margin-left: 450px;
		background-image: none;
	}

	.colorPixel {
	margin-left:9px;
	margin-right:9px;
	width:17px;
	height:17px;
	float: left;
	}
	#RGBFields {
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 200px
	}
	#red .ui-slider-range { background: #ef2929; }
	#red .ui-slider-handle { border-color: #ef2929; }
	#green .ui-slider-range { background: #8ae234; }
	#green .ui-slider-handle { border-color: #8ae234; }
	#blue .ui-slider-range { background: #729fcf; }
	#blue .ui-slider-handle { border-color: #729fcf; }
	#demo-frame > div.demo { padding: 10px !important; };
